<% provide(:title, @question.content) %>
<div class="row">
  <div class="span12">
    <div class="label label-warning" style="margin-bottom:20px; padding-left:20px; padding-right:20px;">
      <h3>
        <%= @question.content %>
      </h3>
    </div>
  </div>
</div>
<div class="row">
	<div class="span6">
		<div class="alert alert-error">
			<strong>Godzilla</strong> </br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut ante vitae eros lacinia lobortis. Praesent at dui ante. Mauris gravida purus et dolor cursus dictum. Sed tempor, magna vitae ultrices interdum, metus lacus semper purus, quis ullamcorper ante turpis id turpis. Mauris sit amet arcu at sem tristique posuere sit amet vitae ante. Curabitur at lacus at eros eleifend mattis ac vel urna. Vestibulum nec dolor sapien. Sed commodo rhoncus justo, at varius mauris semper non. Aliquam erat volutpat. Nulla ut augue in ante pretium tristique. Morbi laoreet diam ut nisl blandit feugiat pulvinar quam eleifend. Sed neque augue, pretium ut placerat sit amet, rutrum at urna.

			Cras consequat fringilla enim, vel sodales orci ultrices eget. Vivamus sit amet velit lectus. Praesent porta, erat in porttitor tristique, mauris neque rhoncus ipsum, at pellentesque nulla lacus ac magna. Cras tincidunt lectus ac orci tincidunt eget ultricies ipsum cursus. Vivamus id risus justo. Sed vestibulum, nisl eget adipiscing dapibus, nisl lacus tincidunt lacus, feugiat sollicitudin neque quam eget tortor. Proin quis pharetra sapien.

			Quisque tempor sem a neque ullamcorper dignissim. Donec rhoncus sodales mauris nec iaculis. Nam id viverra massa. Nulla at arcu non magna mattis pharetra eu et elit. Nulla lectus ante, fringilla vitae aliquet vulputate, viverra vel orci. Nunc malesuada diam eu libero vehicula quis volutpat orci vestibulum. Aliquam sed eros sem. Fusce mollis risus in nulla blandit ornare. Aliquam vitae neque lacinia velit feugiat laoreet eget id odio. Sed facilisis, massa ac dignissim molestie, erat dui vehicula tortor, nec porttitor orci enim a dui. Pellentesque ultrices venenatis felis et varius. Fusce cursus orci a tellus mattis euismod ullamcorper lectus aliquam. Phasellus suscipit erat a dolor mattis cursus. Sed sed nisi nec lectus sollicitudin scelerisque vel pellentesque lacus. In felis sem, facilisis a scelerisque vitae, gravida eu ligula.
		</div>
	</div>
	<div class="span6">
		<div class="alert alert-success">
			<strong>King Kong</strong> </br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut ante vitae eros lacinia lobortis. Praesent at dui ante. Mauris gravida purus et dolor cursus dictum. Sed tempor, magna vitae ultrices interdum, metus lacus semper purus, quis ullamcorper ante turpis id turpis. Mauris sit amet arcu at sem tristique posuere sit amet vitae ante. Curabitur at lacus at eros eleifend mattis ac vel urna. Vestibulum nec dolor sapien. Sed commodo rhoncus justo, at varius mauris semper non. Aliquam erat volutpat. Nulla ut augue in ante pretium tristique. Morbi laoreet diam ut nisl blandit feugiat pulvinar quam eleifend. Sed neque augue, pretium ut placerat sit amet, rutrum at urna.

			Cras consequat fringilla enim, vel sodales orci ultrices eget. Vivamus sit amet velit lectus. Praesent porta, erat in porttitor tristique, mauris neque rhoncus ipsum, at pellentesque nulla lacus ac magna. Cras tincidunt lectus ac orci tincidunt eget ultricies ipsum cursus. Vivamus id risus justo. Sed vestibulum, nisl eget adipiscing dapibus, nisl lacus tincidunt lacus, feugiat sollicitudin neque quam eget tortor. Proin quis pharetra sapien.

			Quisque tempor sem a neque ullamcorper dignissim. Donec rhoncus sodales mauris nec iaculis. Nam id viverra massa. Nulla at arcu non magna mattis pharetra eu et elit. Nulla lectus ante, fringilla vitae aliquet vulputate, viverra vel orci. Nunc malesuada diam eu libero vehicula quis volutpat orci vestibulum. Aliquam sed eros sem. Fusce mollis risus in nulla blandit ornare. Aliquam vitae neque lacinia velit feugiat laoreet eget id odio. Sed facilisis, massa ac dignissim molestie, erat dui vehicula tortor, nec porttitor orci enim a dui. Pellentesque ultrices venenatis felis et varius. Fusce cursus orci a tellus mattis euismod ullamcorper lectus aliquam. Phasellus suscipit erat a dolor mattis cursus. Sed sed nisi nec lectus sollicitudin scelerisque vel pellentesque lacus. In felis sem, facilisis a scelerisque vitae, gravida eu ligula.
		</div>
	</div>
</div>
<div>
	<%= render 'shared/answer_form' %>
</div>
