<% provide(:title, 'Home') %>
<div class="container"> 
	<div class="hero-unit">
		<h2>
			Your opinion matters
		</h2>
		<h3>
			Ask and learn today
		</h3>
		</br>
		</br>
		<a class="btn btn-primary btn-large" href="#">Sign up for free</a>
	</div>
</div>

<div class="row">
	<div class="span4">
		<h3 id="Ask a Questions">Ask a Question</h3>
	</div>
	<div class="span4">
		<h3 id="Write your Opinion">Write your Opinion</h3>
	</div>
	<div class="span4">
		<h3 id="Choose your Camp">Choose your Camp</h3>
	</div>
</div>

<hr>
<footer id="footer">
	<p class="pull-right">
		<a href="#top">Back to top</a>
	</p>
</footer>

<